.card {
  cursor: pointer;
  position: relative;

  &Img {
    width: 332px;
    height: 221px;
    object-fit: cover;
  }

  @media screen and (max-width: 600px) {
    width: 100%;

    &Img {
      width: 100%;
      object-fit: fill;
    }
  }
}

