@import '../../../../assets//styles/const.scss';
$menuFontSize: 20px;

.menu {
  &Mobile {
    position: relative;
    position: absolute;
    right: 2rem;
    background-color: $white;
    border-radius: 5px;
  }

  &MobileList {
    position: absolute;
    background-color: $white;
    top: 2.6rem;
    right: -2rem;
    border: 1px solid $darkBlue;
    padding: 1rem;
    border-radius: 5px;
    z-index: 100;
  }
  
  &Button {
    background-color: $white;
    color: $darkBlue;
    padding: 10px 15px;
    border-radius: 5px;
    border: unset;
    cursor: pointer;
    font-size: $menuFontSize;
  }

  &Items {
    font-size: $menuFontSize;
    text-decoration: unset;
    color: $white;
    @media screen and (max-width: 900px) {
      color: $darkBlue;
    }
    &:first-child {
      color: $yellow;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 600px) {
    &Mobile {
      position: unset;
    }

    &MobileList {
      top: 12.5rem;
      left: 0;
    }
  }
}